<div class="browser-support-warning" id="browser-support-warning" style="display: none;">
  All parts of this material don't necessarily support your current browser. Could you consider switching to <a href="https://www.google.com/chrome/browser/desktop/" target="_blank" rel="noopener">Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" rel="noopener">Firefox</a>?
  <span class="browser-support-warning__close">Okay!</span>
</div>
