<footer class="footer">
  <div>
    This material has been licenced with Creative Commons BY-NC-SA-licence.
  </div>
  <div>
    The course has been made by The Qt Company.
  </div>
  <div>
    The site template has been made by University of Helsinki Agile Education Research research group.
  </div>
</footer>
