<div class="general-callout">
  <div class="general-callout__header">
    <i class="fa fa-magic general-callout__icon"></i> <%= name %>
  </div>

  <div class="general-callout__body">
    <%= yield %>
  </div>
</div>
