<div class="learning-objectives">
  <div class="learning-objectives__header">
    <i class="fa fa-user-graduate learning-objectives__icon"></i><%= name %>
  </div>

  <div class="learning-objectives__body">
    <%= yield %>
  </div>
</div>
