@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "mixins";
@import "mooc-icon";
@import "theme";

@import "footer";
@import "exercise";
@import "hint";
@import "pattern";
@import "general-callout";
@import "navbar";
@import "table-of-contents";
@import "youtube";

@import "sample-output";
@import "learning-objectives";

blockquote {
    border-left: solid #57b181;
    margin-bottom: 1.2em;
    margin-top: 1.2em;
    margin-left: 1.2em;
    padding: 1.2em;
    color: #57b181;
    font-style: italic;
    font-size: 1.3em;
    background-color: aliceblue;
}