---
  title: Introduction
  published: true
---

<% partial 'partials/material_heading' do %>
What is Qt?
<% end %>

<p>
Programming should be fast, easy and fun. That’s why Qt has been focusing on improving software development for the last 25 years, and with the amount of applications and devices growing every day, efficiency has become more important than ever.
</p>

<p>
Qt has everything you need to quickly and cost-effectively design, develop, test, deploy and maintain your software for any project. Focus on creating the best user experiences instead of coding what’s already been coded for you.
</p>

<p>
<a href="https://www.qt.io/what-is-qt/" title="Read more about Qt">Read more about Qt</a>
</p>

<p>
Qt provides you with the libraries and tools you need to develop applications to almost any platform you can think of. As Qt is based on C++, you need to bring the compiler for your platform, but luckily every platform we know has a C++ compiler.
</p>

<ul>
<li><a href="https://wiki.qt.io/About_Qt" title="About Qt at the Qt Wiki">About Qt at the Qt Wiki</a></li>
<li><a href="http://wiki.qt.io/Qt_for_Beginners" title="Qt for Beginners at the Qt Wiki">Qt for Beginners at the Qt Wiki</a></li>
</ul>

<% partial 'partials/material_heading' do %>
What is The Qt Company?  
<% end %>

<p>
The Qt Company is the main responsible party for Qt development, productisation and licensing under commercial and open-source licenses. Qt is a C++ based framework of libraries and tools that enables the development of powerful, interactive and cross-platform applications and devices.
</p>

<p>
<a href="https://www.qt.io/company/" title="Read more about The Qt Company">Read more about The Qt Company</a>
</p>

<% partial 'partials/material_heading' do %>
This course
<% end %>

<% partial 'partials/material_sub_heading' do %>
What is this course?
<% end %>

<p>
This course was dreamed up and implemented so that you can also learn the essentials of Qt and QML.
</p>

<% partial 'partials/material_sub_heading' do %>
Is this a course for beginners?
<% end %>

<p>
You should have some experience in programming, and preferably C++ in specific, but you don't need to know Qt or QML beforehand.
</p>

<% partial 'partials/material_sub_heading' do %>
What are the requirements for enrolling in this course?
<% end %>

<p>
Anyone can join in! To register for the course, you need to register an account to the <a href="https://tmc.mooc.fi" title="TestMyCode system">TestMyCode system</a>.
You will also need to install the Qt framework with the Qt Creator IDE and our TMC plugin, instructions for which you'll find in <a href="./userguide/index.html" title="User Guide">User Guide</a>.
</p>

<% partial 'partials/material_sub_heading' do %>
What do I need to know before enrolling in this course?
<% end %>

<p>
A basic understanding of object oriented programming and some C++ are good to have.
For the QML side you are good if you know a bit of JavaScript and understand what the word 'declarative' means in UI programming (take a look at <a href="https://en.wikipedia.org/wiki/QML)" title="Wikipedia">Wikipedia</a>.
</p>

<% partial 'partials/material_sub_heading' do %>
What are the goals of this course?
<% end %>

<p>
The goals are that you will have an understanding of how to create an application with Qt and QML. And have an understanding of how the structures provided by Qt and QML are used in programming.
</p>

<% partial 'partials/material_sub_heading' do %>
What is the schedule of this course?
<% end %>

<p>
The course consists of five parts:
</p>

<ul>
<li>Parts 1 and 2: Qt Essentials</li>
<li>Part 3: Qt Quick UI:s</li>
<li>Part 4: Data-centric apps</li>
<li>Part 5: C++ and QML</li>
</ul>

<p>
During this new year intensive period, the deadline for the whole course will be 13.01.2019.
</p>

<% partial 'partials/material_sub_heading' do %>
Where can I find the course material?
<% end %>

<p>
On this site we have included the course material and relevant exercises. There are five main parts of the course in total and they include a number of subtopics and assignments attached to said subtopics.
</p>

<p>
We will include some relevant reference materials, this will mainly consist of links to Qt documentation and/or Wiki pages.
</p>

<p>
We recommend you to use the libre <a href="https://qmlbook.github.io/index.html" title="QMLBook">QMLBook</a> by Jürgen Bocklage-Ryannel and Johan Thelin as your course reference book, should you wish to use one. It contains relevant topics to this course and will provide with a second perspective to learning about getting the most out of developing with Qt.
</p>

<% partial 'partials/material_sub_heading' do %>
Where can I find the course exercises?
<% end %>

<p>
The course has two types of exercises, some that are fetched from the <a href="https://tmc.mooc.fi" title="Test My Code system">Test My Code system</a> with the Qt Creator TMC plugin, and some that you'll do outside TMC and submit for peer-review. Specific instructions for exercises can be found in the study material.
</p>

<% partial 'partials/material_sub_heading' do %>
What do I need to do to get credit for completing this course?
<% end %>

<p>
You need to get 70% of the exercise points in the course.
</p>

<p>
There are 81 points in the course, which means that you pass by getting 57 points (we might lower this during this beta course if it's deemed necessary, but don't count on it :) The exercises on the material will tell you how many points they are worth.
</p>

<% partial 'partials/material_sub_heading' do %>
How do I get credit for this course after completing it?
<% end %>

<p>
You need to register in WebOodi. The course is worth 3 study credits, and it's graded pass/fail.
</p>

<% partial 'partials/material_sub_heading' do %>
Will this course be available for students outside University of Helsinki?
<% end %>

<p>
Preliminary plan is to make this course available for all in the <a href="https://www.helsinki.fi/en/open-university" title="Open University">Open University</a> during early 2019.
</p>

<% partial 'partials/material_heading' do %>
Course tools
<% end %>

<% partial 'partials/material_sub_heading' do %>
What is Qt Creator?
<% end %>

<p>
<a href="http://doc.qt.io/qtcreator/index.html" title="Qt Creator">Qt Creator</a> is the main development environment for the Qt platform. It has features that help with managing projects, version control, designing user interfaces, building projects, testing, and actually writing code!
</p>

<% partial 'partials/material_sub_heading' do %>
What is Test My Code?
<% end %>

<p>
<a href="https://tmc.mooc.fi/" title="Test My Code">Test My Code</a> is the course exercise platform you will use to submit your exercises for grading. We have developed a Qt Creator plugin that integrates the TMC platform with Qt Creator.
</p>

<% partial 'partials/material_sub_heading' do %>
Where can I find documentation?
<% end %>

<ul>
<li><a href="http://doc.qt.io" title="http://doc.qt.io">http://doc.qt.io</a></li>
<li><a href="http://wiki.qt.io" title="http://wiki.qt.io">http://wiki.qt.io</a></li>
</ul>

<% partial 'partials/material_sub_heading' do %>
How do I set up my working environment?
<% end %>

<p>
You will need to install Qt, the Qt Creator IDE and the TMC plugin for Qt Creator.
</p>

<p>
We have provided with instructions for you to set up your working environment in <a href="./userguide/index.html" title="User Guide">User Guide</a>.
</p>

<% partial 'partials/material_sub_heading' do %>
Course contact channels
<% end %>

<p>
Our main contact channel will be IRC. There is also a Telegram channel, and the messages between the two are bridged, so feel free to use either or both!
</p>

<ul>
<li>#qt-mooc @ freenode</li>
<li><a href="https://riot.im/app/#/room/#freenode_#qt-mooc:matrix.org" title="Riot link for #qt-mooc @ freenode">Riot link for #qt-mooc @ freenode</a></li>
<li>Telegram: https://t.me | /joinchat/ | FdRoUFThGT8xz6AMaVJdbg (you need to bother to remove the whitespace and |'s because bots)</li>
</ul>

<p>
We encourage students to join in and stay around even if your particular question/issue may have been resolved!
</p>

<p>
As this is a beta course we encourage you to give us all kinds of feedback and be persistent with your questions, as some of the problems you will encounter may be entirely our fault, and we need to know what the problem is so we can 
fix it asap!
</p>

<% partial 'partials/material_sub_heading' do %>
Credits
<% end %>

<p>
This course was made possible by these individuals:
</p>

<ul>
<li>Kimmo Linnavuo</li>
<li>Erika Järvinen</li>
<li>Jan Olsson</li>
<li>Tino Pyssysalo</li>
<li>Henrik Nygren</li>
</ul>