---
  title: Setting Up
  published: true
---

<% partial 'partials/material_heading' do %>
    Setting Up
<% end %>

<% partial 'partials/material_sub_heading' do %>
    Setting up the working environment
<% end %>

<% partial 'partials/material_sub_sub_heading' do %>
    Linux
<% end %>

<ol>
    <li>
        Install development tools (g++, make, etc.) for your distribution.
    <ul>
        <li>
            Ubuntu/Debian: <code>sudo apt install build-essential</code>
        </li>
    </ul>
    </li>
    <li>
        To run graphical applications you need to install the development libraries for OpenGL.
    <ul>
        <li>
            Ubuntu/Debian: <code>sudo apt install mesa-common-dev libgl1-mesa-dev</code>
        </li>
    </ul>
    </li>
    <li>
        You need to download and install Qt 5.12 and Qt Creator 4.8.1 with the online installer from <a href="https://www.qt.io/download-qt-installer" title="qt.io" target="_blank">qt.io</a>
    </li>
    <li>
        Download <a href="https://github.com/TestMyQt/Qt-CreatorTMC/releases/download/v3.0/qtcreator-tmc-linux-v3.0.zip" title="Qt Creator TMC Linux plugin">qtcreator-tmc-linux-v3.0.zip</a> and extract it.
    </li>
    <li>
        Copy/move the <code>.so</code> file extracted from the qtcreator-tmc-linux-v3.0.zip to the following path: <code>$QT_INSTALL_DIRECTORY/Tools/QtCreator/lib/qtcreator/plugins/</code>
    </li>
    <li>
        Start Qt Creator, TestMyCode plugin should be visible on the top menu.
    </li>
</ol>

<% partial 'partials/material_sub_sub_heading' do %>
    MacOS
<% end %>

<ol>
    <li>
        First you should have <code>XCode</code> installed from the App store to provide the default MacOS compiling environment.
    </li>
    <li>
        You need to download and install Qt 5.12 and Qt Creator 4.8.1 with the online installer from <a href="https://www.qt.io/download-qt-installer" title="qt.io" target="_blank">qt.io</a>
    </li>
    <li>
        Download <a href="https://github.com/TestMyQt/Qt-CreatorTMC/releases/download/v3.0/qtcreator-tmc-macos-v3.0.zip" title="Qt Creator TMC Mac plugin">qtcreator-tmc-macos-v3.0.zip</a> and extract it.
    </li>
    <li>
        Go to the folder where you installed Qt and Qt Creator with the installer.
        <ul>
            <li>
                Right click on Qt Creator and select "Show Package Contents".
            </li>
            <li>
                Navigate to <code>Contents/PlugIns/</code> under the opened package and copy <code>libTestMyCode.dylib</code> to this folder.
            </li>
        </ul>
    </li>
    <li>
        Start Qt Creator from the icon, TestMyCode plugin should be visible on the top menu.
    </li>
</ol>

<% partial 'partials/material_sub_sub_heading' do %>
    Windows
<% end %>

<p>
Windows support coming.
</p>

<% partial 'partials/material_sub_heading' do %>
    Getting a TMC account
<% end %>

<p>
    You need an account for University of Helsinki's TMC system (you don't need to be a student at the University, if you are remember to put in your student number). You'll use it to log into both the TMC plugin in Qt Creator, and to this course material site to submit feedback and peer-review exercises. You can also view your TMC submissions at the <a href="https://tmc.mooc.fi">TMC website</a>. Head on <a href="https://tmc.mooc.fi/user/newr">here</a> to register if you don't already have an account.
</p>

<% partial 'partials/material_sub_heading' do %>
    Using the TMC plugin
<% end %>

<p>
    All the functionality related to the TMC plugin for Qt Creator can be found in the dropdown menu named <code>TestMyCode</code>.
</p>

<img src="/img/setting-up/login-screen.png" />

<p>
    &nbsp;
</p>

<p>
    Start by logging in. The default server address is good (https://tmc.mooc.fi). Use the username and password you registered earlier.
</p>

<img src="/img/setting-up/settings-screen.png" />

<p>
    &nbsp;
</p>

<p>
    After that choose the organization <code>Helsingin Yliopisto</code> and course <code>UI Application Development with Qt and QML, new year edition</code>, and set the <code>Project Directory</code> to a desirable location (this is where the exercises are going to be downloaded). You can also choose how often the plugin will popup the Download/Update window, set it to 0 to disable.
</p>

<img src="/img/setting-up/download-screen.png" />

<p>
    &nbsp;
</p>

<p>
    Choose which exercises to download from <code>Download/Update</code> section. You can also launch the exercises from here.
</p>

<p>
    &nbsp;
</p>

<img src="/img/setting-up/configure-project.png" />

<p>
    &nbsp;
</p>

<p>
    When opening a project for the first time, you need to configure it in the <code>Projects</code> tab (left side) on the Qt Creator by choosing a kit to use.
</p>

<p>
    &nbsp;
</p>

<img src="/img/setting-up/start-coding.png" />

<p>
    &nbsp;
</p>

<p>
    Now it's just time to code. Once you're done you can test the project locally with <code>Test project</code>, and then <code>Submit</code> it to the TMC server for evaluation.
</p>